

.Nav{
    font-family: 'merriwaether', sans-serif;
    background-color: transparent;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 5rem;
    border-bottom: 1px #ccc solid;
}

.Nav > div > ul{
    display: flex;
    margin-right: 10rem;
}

.Nav > div > ul > li{
    list-style-type: none;
    margin: 0 1rem;
    padding: 1.5rem .5rem;
    transition: .4s;
}


.Nav > div > ul > li > a{
    text-decoration: none;
    color: #555;
    font-size: .7rem;
    padding: 2rem 0;
}

.Nav > div > ul > li > a:hover{
    color: #CD091E;
}

#logo{
    color: #CD091E;
    font-size: 2rem;
    padding: 2rem 2rem;
    font-family: 'playfair display', sans-serif;
    background-color: white;
    text-shadow: 3px 1px 3px rgb(221, 199, 216);
}